input {
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;

 border-radius: 50%;
 width: 32px;
 height: 32px;

 border: 32px solid red;
 transition: 0.5s all linear;
 outline: none;
 margin-right: 32px;

 position: relative;
}

input:checked {
  border: 32px solid green;
}

article{
 display: flex;
 align-items: center;
 flex: 1 200px;
 justify-content: space-evenly;
}
.Button{
 display: flex;
 align-items: center;
 flex: 1 200px;
 justify-content: space-evenly;
}

.Button1 {
 align-items: center;
 order: 3;
}

.Button2 {
 order: 4;
}

.Button3 {
 order: 1;
}

.Button3 {
 order: 1;
}

.Button4 {
 order: 2;
}